.app-content {
    overflow: hidden;
    height: 100%;
}

#panier{
    text-align: center;
    position: absolute; 
    top: 30px; 
    right: 3px; 
    width: 22px; 
    height: 20px; 
    border-radius: 50%;  
    background-color: red;
    color: white;
}