<ng-container *ngFor="let product of products(); trackBy: trackById">
    <p-card class="block mb-3">
        <span class="text-sm text-secondary">{{ product.category }}</span>

        <div class="text-lg font-medium mt-2 flex gap-4">
            <span>{{ product.name }}</span>
            <span>{{ product.price }} €</span>
        </div>

        <div class="mt-2">
            Stock : {{ product.inventoryStatus ?? 'Non renseigné' }}
        </div>

        <ng-template pTemplate="footer">
            <div class="flex gap-2">
                <p-button label="Modifier" (click)="onUpdate(product)"></p-button>
                <p-button label="Supprimer" severity="danger" (click)="onDelete(product)"></p-button>
                <p-button label="Ajouter" severity="success" (click)="addToPanier(product)"></p-button>
            </div>
        </ng-template>
    </p-card>
</ng-container>

<p-dialog header="{{ isCreation ? 'Créer un produit' : 'Modifier le produit' }}" [(visible)]="isDialogVisible"
    [modal]="true" [style]="{ width: '500px' }">
    <app-product-form [product]="editedProduct()" (save)="onSave($event)" (cancel)="isDialogVisible = false" />
</p-dialog>